.product {
    &__img {
        width: 7rem;
        height: 7rem;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}